<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Xcode.SourceCodeLanguage.CAS</key>
	<dict>
		<key>languageSpecification</key>
		<string>xcode.lang.cas</string>
		<key>fileDataType</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>public.cas</string>
			</dict>
		</array>
		<key>id</key>
		<string>Xcode.SourceCodeLanguage.CAS</string>
		<key>point</key>
		<string>Xcode.SourceCodeLanguage</string>
		<key>languageName</key>
		<string>CAS</string>
		<key>version</key>
		<string>1.0</string>
		<key>documentationAbbreviation</key>
		<string>cas</string>
        <key>commentSyntax</key>
        <array>
            <dict>
                <key>prefix</key>
                <string>/*</string>
                <key>suffix</key>
                <string>*/</string>
            </dict>
            <dict>
                <key>prefix</key>
                <string>//</string>
            </dict>
        </array>
		<key>conformsTo</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>Xcode.SourceCodeLanguage.Generic</string>
			</dict>
		</array>
		<key>name</key>
		<string>CAS Language</string>
	</dict>
</dict>
</plist>
